<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.emilda1.emilda">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning ,InnerclassSeparator">
        <activity android:name="com.emilda1.emilda.MainActivities.AfterPayment">
        </activity>
        <activity android:name="com.emilda1.emilda.LoginActivities.OnBoardingActivity">
        </activity>
        <activity
                android:name="com.emilda1.emilda.LoginActivities.SplashScreen"
                android:screenOrientation="portrait">

        </activity>
        <activity
                android:name="com.emilda1.emilda.LoginActivities.OtpScreen"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name="com.emilda1.emilda.LoginActivities.PhoneLogin"
                android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.emilda1.emilda.MainActivities.DesktopSupport">
        </activity>
        <activity android:name="com.emilda1.emilda.MainActivities.PrintingActivity">

        </activity>
        <activity android:name="com.emilda1.emilda.MainActivities.SupportActivity">
        </activity>
        <activity android:name="com.emilda1.emilda.MainActivities.FeedbackActivity">
        </activity>
        <activity android:name="com.emilda1.emilda.MainActivities.ExpandedCard">
        </activity>
        <activity
                android:name="com.emilda1.emilda.MainActivities.DetailsActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="com.emilda1.emilda.MainActivity">
        </activity>

        <meta-data
                android:name="com.razorpay.ApiKey"
                android:value="rzp_test_8LrOvUxuVhSXat"/>
    </application>

</manifest>