<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.emilda.emilda">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning ,InnerclassSeparator">

        <activity android:name=".LoginActivities.OnBoardingActivity">
        </activity>
        <activity
                android:name=".LoginActivities.SplashScreen"
                android:screenOrientation="portrait">

        </activity>
        <activity
                android:name=".LoginActivities.OtpScreen"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".LoginActivities.PhoneLogin"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MainActivities.DesktopSupport">
        </activity>
        <activity android:name=".MainActivities.PrintingActivity">
        </activity>
        <activity android:name=".MainActivities.SupportActivity">
        </activity>
        <activity android:name=".MainActivities.FeedbackActivity">
        </activity>
        <activity android:name=".MainActivities.ExpandedCard">
        </activity>
        <activity
                android:name=".MainActivities.DetailsActivity"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>